body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button{
  font-size: 1.1em;
  margin-bottom: 5px;
  line-height: 1.0;
}

input {
  font-size: 1.5em;
  margin-bottom: 5px;
  line-height: 2.0;
  width: 210px;
}

h1,p {
  font-size: 1.5em;
  margin-bottom: 20px;
  line-height: 0.1;
}

@media (max-width: 768px) {
  /* タブレット以下 */
  .container {
    margin: 0 auto; /* ブロック要素を水平方向に中央揃え */
    height: 100%;
    width: 200%;
  }
}

.center-block {
  text-align: center; /* 文字を中央揃え */
  margin: 0 auto; /* ブロック要素を水平方向に中央揃え */
}

.card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

#connect-button {
  /* 接続ボタンのスタイル */
  background-color: rgba(142, 142, 255, 0.473);
  color: rgb(10, 10, 10);
}

#disconnect-button {
  /* 切断ボタンのスタイル */
  background-color: rgb(255, 118, 118);
  color: rgb(0, 0, 0);
}

button {
  background-color: #323332; /* ボタンの背景色 */
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #8b8b8b; /* マウスオーバー時の色 */
}

button:active {
  background-color: #fffdfd;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.led-control {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.led-control span {
  margin-right: 10px;
  font-weight: bold;
}

.value-display {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.value-display span {
  margin-right: 10px;
}

.value-display input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100px;
}

